name: Inspect Code

on: [ push ]

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 --config=tox.ini --count -vv --output-file=flake8_output.log .
        continue-on-error: true